/* General styles for all screens */
.records h2 {
    font-size: 16px;
    text-align: center;
}

.records th, .records td {
    font-size: 12px;
    padding: 6px;
}

.records button {
    padding: 4px 6px;
}

.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 8%;
    margin-bottom: 10%;
}

.login-container h1 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-box {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
}

.logo {
    margin-bottom: 20px;
    width: 80%;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    text-align: left;
    color: #007bff;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .records h2 {
        font-size: 14px;
    }

    .records th, .records td {
        font-size: 10px;
        padding: 4px;
    }

    .records button {
        padding: 3px 5px;
    }

    .login-container {
        margin-top: 5%;
    }

    .login-container h1 {
        font-size: 20px;
    }

    .login-box {
        padding: 30px 15px;
        max-width: 300px;
    }

    h2 {
        font-size: 18px;
    }

    input {
        padding: 8px;
        font-size: 12px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .login-container h1 {
        font-size: 18px;
    }

    .login-box {
        padding: 20px 10px;
        max-width: 280px;
    }

    h2 {
        font-size: 16px;
    }

    input {
        padding: 6px;
        font-size: 12px;
    }

    button {
        padding: 6px;
        font-size: 12px;
    }
}
